.photo{
    width: 300px;
}
body{
    background-color: wheat;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border: 5px solid black;
    margin: 20px;
    padding: 20px;
    text-align: center;
}
ol{
    list-style-position: inside;

}
ul{
    list-style-position: inside;
}
nav{
    background-color: whitesmoke;
    padding:10px;
    overflow:hidden;
    height: 20px;
    line-height: 20px;
    overflow:hidden;
}
nav a{
    color: rgb(2, 111, 2);
    text-decoration: none;
    font-weight: bold;
  
}
#header{
    background-color: clear;
    color: black;
    height: 30px;
    line-height: 30px;
 
}
#mainBody{
    background-color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
#finalDiv{
    margin: auto;
}
#tableauTable{
    margin:auto;
    color:rgb(2, 111, 2);
}
#onPageAnchor{
    color: rgb(2, 111, 2);
    text-decoration: none;
    font-weight: bold;
}
#footer{
    background-color: beige;
    position: fixed;
    bottom:0px;
    right: 5px;
    left: 5px;
}